<!DOCTYPE html>
<html>
    <head>
        <link rel="shortcut icon" href="/assets/favicon.ico" type="image/x-icon">
        <link rel="stylesheet" href="styles.css">
        
        {% block head %}
            <title>Bootcamp - Desafio 2.1</title>
        {% endblock %}
    </head>
    <body>
        <header>
            <div class="links">
                <a href="https://discordapp.com/invite/gCRAFhc">Comunidade</a>
                <a href="mailto:oi@rockedseat.com.br">Email</a>
                <a href="tel:+5547992078767">Telefone</a>
                <a href="/content">Conteúdos</a>
            </div>
        </header>

        {% block content %}
        {% endblock %}

    </body>
</html>